.App {
  text-align: center;
  min-height: 100vh;
  /*https://webgradients.com */
  background-image: linear-gradient(to top, #abdbdb 0%, #330867 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: rgb(53, 160, 196);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
